.container {

  .nav-left {
    width: 15%;
    min-width: 180px;
    height: calc(100vh);
    backgroud-color: red;
  }

  .main {
    height: calc(100vh);

  }

  .content {
    position: relative;
    padding: 20px;
  }
}
